#navigation_bar {
  background-color: rgb(122, 0, 60);
}

#footer {
  background-color: rgb(122, 0, 60);
  color: azure;
}

.active {
  background-color: rgb(90, 0, 50);
  border-radius: 20%;
}

#featured_books {
  margin-top: 5px;
  background-color: rgb(122, 0, 60);
  color: white;
}

.books {
  width: 250px;
  height: 250px;
}
.bookGrid {
  margin-bottom: 10%;
}


.images {
	opacity: 1;
}

.images img {
	width: 200px;
	height: 200px;
}
.columns:hover .images{
	opacity: 0.4;
  }


.middle {
	opacity: 0;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	cursor: pointer;
}

.top {
	opacity: 0;
	top: 20%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	cursor: pointer;
}

.columns:hover .middle  {
	opacity: 1;
}

.columns:hover .top  {
	opacity: 1;
}


.reserveButton {
	color: white;
	width: 100%;
	background-color: rgb(22, 47, 189);
	border: 2px solid black;
	border-radius: 25px;
  }

  .detailsButton {
	color: white;
	width: 100%;
	background-color:  rgb(122, 0, 60);
	border: 2px solid black;
	border-radius: 25px;
  }