button {
    border-radius: 16px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maroonBtn {
    color: white;
    background-color: rgb(122, 0, 60);
}

.greyBtn {
    color: white;
    background-color: rgb(94, 87, 90);
}

.title {
    font-size: 40px;
    font-style: italic;
}

.brlarge {
    display: block;
    margin-bottom: 4em;
}

.brxlarge {
    display: block;
    margin-bottom: 9em;
}

.brmedium {
    display: block;
    margin-bottom: 1em;
}

.heading {
    font-weight: bold;
}

.coverPic {
    width: 100%;
    height: 50%;
}